/DungeonChartographer/Library/
/DungeonChartographer/Temp/
/Builds
/DungeonChartographer/Logs/
/DungeonChartographer/UserSettings/
/DungeonChartographer/obj/
/DungeonChartographer/.vs/
/DungeonChartographer/.vs/DungeonChartographer/v16/.suo
/DungeonChartographer/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/DungeonChartographer/Assembly-CSharp.csproj
